body{
font-family: Arial;
text-align: center;
background: #f4f4f4;
}

.container{
background: white;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
}

button{
background: blue;
color:white;
border:none;
padding:10px;
margin-top:10px;
}
